<!DOCTYPE html>
<html>
  <head>
    <title>Yuma's Portfolio</title>
    <meta name="description" content="転職活動用のポートフォリオサイトです">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="loader.css">
    <%= javascript_pack_tag 'pace.js' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'mobile_menu' %>
    <%= javascript_pack_tag 'animation_title' %>
  </body>
</html>
